@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "lora";
  src: url("../fonts/lora/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: "worksans";
  src: url("../fonts/worksans/WorkSans-VariableFont_wght.ttf");
}
/*==========================
    Header
============================*/
header {
  background-color: black;
  height: 100vh;
}
header section {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
header section img:nth-of-type(1) {
  width: 100%;
  height: 25vh;
}
header section article h2 {
  font-family: worksans;
  font-weight: normal;
  font-size: 3rem;
  margin-top: 3em;
}
header section article h1 {
  color: white;
  font-size: 12rem;
  text-align: center;
  font-family: lora;
  font-weight: normal;
}
header section article .outline_text {
  border-radius: 2px solid white;
  color: black;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
  margin-top: -50px;
  font-weight: normal;
}
header section article p {
  font-size: 2.8rem;
}
header section nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 5em;
}
header section nav img:nth-of-type(1) {
  width: 100px;
  height: 100px;
}
header section nav button {
  padding: 10px 30px;
  font-size: 2rem;
  color: white;
  background-color: black;
  border: 2px solid white;
}
header section nav button:hover {
  background-color: white;
  color: black;
}

/*==========================
    Main
============================*/
main .main_side1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 10vw;
  background-color: #000;
}
main .main_side1 p {
  font-size: 10rem;
  color: white;
  width: 50vw;
  font-family: worksans;
}
main .main_side1 article .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  margin-top: 10vh;
  padding: 0 0 15vh 0;
}
main .main_side1 article .info p {
  font-size: 2rem;
  font-family: worksans;
}
main .main_side1 article .info h3 {
  color: white;
  font-size: 6rem;
  margin-bottom: 6vh;
}
main .main_side2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main .main_side2 .info_s2 {
  width: 27vw;
  padding: 45vh 0;
}
main .main_side2 .info_s2 h1 {
  font-size: 11rem;
  font-weight: 100;
  letter-spacing: 1px;
}
main .main_side2 .info_s2 p {
  font-size: 2rem;
  line-height: 40px;
}
main .main_side2 .info_s3 {
  padding: 70vh 0 50vh 0;
  width: 27vw;
}
main .main_side2 .info_s3 p {
  font-size: 2rem;
  line-height: 30px;
}
main .main_side2 .presse {
  width: 25vw;
  position: absolute;
  right: 10vw;
  top: -16vh;
}
main .main_side2 .rakel_mann {
  width: 25vw;
  position: absolute;
  left: 2vw;
  top: 20vh;
}
main .main_side2 .tshirt_druck {
  width: 25vw;
  position: absolute;
  right: 0;
  top: 60vh;
}
main .main_side2 .blume_stoff {
  width: 25vw;
  position: absolute;
  left: 10vw;
  top: 110vh;
}
main .main_side2 .bär_maschine {
  width: 25vw;
  position: absolute;
  right: 10vw;
  top: 130vh;
}
main .main_side2 .blumen {
  width: 25vw;
  position: absolute;
  left: 0;
  top: 180vh;
}
main .main_side2 .worker {
  width: 25vw;
  position: absolute;
  right: 30vw;
  top: 250vh;
  z-index: 1;
}
main .main_side3 {
  background-color: #000;
  color: #fff;
  padding: 0 0 80vh 0;
}
main .main_side3 .info3 {
  display: flex;
  justify-content: space-evenly;
  padding: 30vh 0 20vh 0;
}
main .main_side3 .info3 .info3_s1 {
  width: 30vw;
}
main .main_side3 .info3 .info3_s1 p {
  font-size: 4rem;
  margin-bottom: 2vh;
}
main .main_side3 .info3 .info3_s1 h1 {
  font-size: 10rem;
}
main .main_side3 .info3 .info3_s2 {
  width: 30vw;
}
main .main_side3 .info3 .info3_s2 p {
  font-size: 4.7rem;
  margin-bottom: 2vh;
}
main .main_side3 .info3 .info3_s2 h1 {
  font-size: 3rem;
}
main .main_side3 .info3 .info3_s2 span {
  font-size: 2rem;
}
main .main_side3 .info3_gallerie {
  position: relative;
}
main .main_side3 .info3_gallerie .tshirtlogo {
  width: 60vw;
  padding-left: 10vw;
  position: absolute;
  left: 10vw;
}
main .main_side3 .info3_gallerie .bärkopf {
  width: 28vw;
  position: absolute;
  right: 9vw;
  top: 15vh;
  z-index: 1;
}
main .main_side4 {
  background-color: #fff;
  color: #fff;
}
main .main_side4 .info4 {
  display: flex;
  justify-content: space-evenly;
  padding: 30vh 0 130vh 0;
  color: #000;
  position: relative;
  overflow: hidden;
}
main .main_side4 .info4 .calilogo {
  width: 30vw;
  position: absolute;
  right: -9vw;
  top: -16vh;
  z-index: 0;
}
main .main_side4 .info4 .calilogo {
  animation: loading 10s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
main .main_side4 .info4 .info4_s1 {
  width: 30vw;
}
main .main_side4 .info4 .info4_s1 p {
  font-size: 4rem;
  margin-bottom: 2vh;
}
main .main_side4 .info4 .info4_s1 h1 {
  font-size: 10rem;
}
main .main_side4 .info4 .info4_s2 {
  width: 35vw;
}
main .main_side4 .info4 .info4_s2 p {
  font-size: 5rem;
  margin-bottom: 2vh;
}
main .main_side4 .info4 .info4_s2 span {
  font-size: 2rem;
}
main .main_side4 .info4_gallerie {
  position: relative;
}
main .main_side4 .info4_gallerie .hübsche {
  width: 30vw;
  left: 10vw;
  bottom: 30vh;
  position: absolute;
  z-index: 2;
}
main .main_side4 .info4_gallerie .rosen {
  width: 55vw;
  right: 10vw;
  bottom: 10vh;
  position: absolute;
  z-index: 1;
}

/*===========================
    Footer
=============================*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 10vh 5vw;
  position: relative;
  height: 80vh;
}
footer .discreption {
  display: flex;
  flex-direction: column;
  width: 35vw;
}
footer .discreption h5 {
  font-size: 2rem;
  margin-bottom: 2vh;
}
footer .discreption p {
  font-size: 5rem;
  margin-bottom: 3vh;
}
footer .discreption button {
  width: 150px;
  padding: 10px 30px;
  font-size: 2rem;
  color: white;
  background-color: black;
  margin-bottom: 6vh;
  border: 2px solid white;
}
footer .discreption button:hover {
  background-color: white;
  color: black;
}
footer .discreption img {
  width: 30px;
  height: 30px;
  margin-right: 2vw;
  margin-bottom: 2vh;
}
footer .discreption .discreption_under_icon {
  font-size: 2rem;
}
footer .discreption .date {
  font-size: 2rem;
}
footer .banner {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 80vh;
  width: 50vw;
}
footer .banner .american_ross {
  position: absolute;
  right: 5vw;
  bottom: 3vh;
}
footer .banner .american_ross img {
  width: 6vw;
  height: 4vh;
}
footer .banner .banner_date {
  position: absolute;
  display: inline-block;
  padding: 10px;
  top: 35vh;
  right: -25vw;
  background-color: #fff;
  color: #000;
  font-size: 3.5rem;
  width: 75vw;
  transform: rotate(45deg);
  white-space: nowrap;
  overflow: hidden;
}
footer .banner .banner_date span {
  color: black;
}
footer .banner .banner_date .color {
  color: black;
}
footer .banner .banner_date .one_one {
  display: inline-block;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  font-size: 10rem;
  animation: forest 20s linear infinite;
  -webkit-animation: forest 20s linear infinite;
}
footer .banner .banner_date .one_two {
  display: inline-block;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  font-size: 10rem;
  animation: forest2 20s linear infinite;
  -webkit-animation: forest2 20s linear infinite;
  animation-delay: 10s;
}
@keyframes forest {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
@keyframes forest2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}
@-webkit-keyframes forest {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@-webkit-keyframes forest2 {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-200%);
  }
}

/*# sourceMappingURL=style.css.map */
